@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";


@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  .sticky__header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    background: black;
    box-shadow: 3px 3px -8px 3px #ffff;
    z-index: 99;
  }
}
